.App {
    /* Container styles */
    margin : 0 auto;
    padding: 20px 20px 20px 20px;
    
    max-width: 800px;
  }
  
  .App-header {
    /* Header styles */
    padding: 20px 20px 20px 20px;
    
  }
  
  .App-header h1 {
    margin: 0;
    color: #333;
    font-size: 2rem;
  }
  
  main {
    padding: 20px 20px 20px 20px;

    /* Main content styles */
  }
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  }